.spinner {
  &_one {
    background-color: #3f51b5;
    left: 50%;
    height: 50%;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
  }

  &_two {
    background-color: #ff9800;
    left: 50%;
    height: 50%;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: rotate(90deg) translateY(-50%) translateX(-25%);
  }

  &_three {
    background-color: #e91e63;
    left: 50%;
    height: 50%;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: rotate(180deg) translateY(100%);
  }

  &_four {
    background-color: #4caf50;
    left: 50%;
    height: 50%;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: rotate(270deg) translateY(-50%) translateX(125%);
  }
}