.pause {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(255, 202, 200);

  &:hover {
    background-color: rgb(241, 176, 173);
  }

  &:active {
    background-color: rgb(238, 148, 145);
  }
}